body {
    padding-bottom: 3rem;
}
.container {
  margin: 2rem auto;
  width: 400px;
  height: 400px;
  position: relative;
  background-color: rgb(134, 235, 139);
}

.anime {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: crimson;
}

.wrap {
    width: 95%;
    height: auto;
    padding: 1rem;
    margin-bottom: 4rem;
    background-color: rgb(179, 169, 169);
}

.btn, .first {
    height: 2rem;
    width: 8%;
    margin: 0 0.8%;
    border-radius: 0.3rem;
    border: none;
    outline: none;
    background-color: rgb(241, 245, 29);
    cursor: pointer;
}

.block {
    width: 400px;
    height: 150px;
    margin: 3rem auto;
    border: 5px solid rgb(100, 219, 164);
}

.blocks {
    width: 400px;
    height: 150px;
    margin: 3rem auto;
    border: 5px solid rgba(248, 89, 214, 0.904);
}

/* table */

table{
    width:100%;
    max-width: 500px;
    margin: 0 auto;
    table-layout: fixed;
    background: #FEF834;
    border: 2px solid #17152B;
}
table td{
    border: 2px solid #BCB946;
    padding: 15px;
}
table tr:nth-child(1) td:nth-child(1){
    border-color: #ED4630;
    background: #fff;
}
table tr:nth-child(1) td:nth-child(2){
    border-color: #222200;    
}
table tr:nth-child(1) td:nth-child(3){
    border-color: #2242E3;  
    background: #6CF8FC;
}
table tr:nth-child(2) td:nth-child(1){
    border-color: #FFFEF1;
    background: #E964FE;
}
table tr:nth-child(2) td:nth-child(2){
    border-color: #B23322;
    background: #EC52A1;
}
table tr:nth-child(2) td:nth-child(3){
    border-color: #A161B9;
    background: #ACB02D;
}

#menu {
    margin: 5rem;
}


